{% include 'Agency/agency_header.html' %}
<center>
<form id="form1" name="form1" method="post" action="">
  <table width="288" border="0">
    <tr>
      <td width="110">Package Name</td>
      <td width="168"><label for="Pname"></label>
      <input type="text" name="Pname" id="Pname" /></td>
    </tr>
    <tr>
      <td>Guide</td>
      <td><label for="Guide"></label>
      <input type="text" name="Guide" id="Guide" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input name="Add " type="submit" id="Add " value="Add" />
      </div></td>
    </tr>
  </table>
  <label for="PNmae"></label>
</form></center>
{% include 'Agency/agency_footer.html' %}

