{% include 'Admin/admin_header.html' %}

<div align="center">

<form id="form1" name="form1" method="post" action="">
  <table width="269" border="1">
    <tr>
      <td width="259"><h1 align="center"><u> Home</u></h1></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/Approve_Agency">Approve Agency</a></div></td>
    </tr>
      <tr>
      <td><div align="center"><a href="/View_user">View Users</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/Manage_Trending">Manage Trending</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/Manage_Package">Manage Package</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/View_feedbak">View feedback</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/View_Complaints">View Complaints</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/Send_notification">Send Notification</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/ad_control">Ad Control</a></div></td>
    </tr>
  </table><br /><a href="/log_out"><input type="button" value="Log out"></a>
</form>

    </div>


{% include 'Admin/admin_footer.html' %}