<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/login1">
  <p> <tr>
      <td><div align="center"><a href="/Trending">Trendings</a></div></td>
    </tr><tr>
      <td><div align="center"><a href="View_Packages">Packages</a></div></td>
    </tr>&nbsp;</p>
  <p>&nbsp;</p>
  <table align="center" width="200" border="0">
    <tr>
      <td colspan="2"><div align="center">
        <h2>LOGIN</h2>
      </div></td>
    </tr>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>Username</td>
      <td><label for="uname"></label>
      <input type="text" name="uname" id="uname" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label for="passwd"></label>
      <input type="password" name="passwd" id="passwd" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center"> <input name="login" type="submit" id="login" value="Login" />
        <p><a href="/register"><input type="button" value="Sign in as user"></a><a href="/register1"><input type="button" value="Register as agency"></a></p>
        <p><a href="../User/Upadet profiel.html">Forget Password</a></p>
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
