<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><center>
<form id="form1" name="form1" method="post" action="">
  <table width="1085" border="0">
    <tr>
      <td width="948"><div align="center" >
        <div class="card card-info"> 
        <div class="card-header">
        <h1 align="center">Notification</h1>
      </div></div></div></td>
    </tr>
  </table>
  <table width="200" border="1">
    <tr>
      <td><h3 align="center">#</h3></td>
      <td><div align="center">Notifications</div></td>
      <td><div align="center">Date</div></td>
      <td><div align="center"></div></td>
    </tr>
      {% for row in data %}
    <tr>
      <td><div align="center">{{ loop.index}}</div></td>
      <td><div align="center">{{ row['notfcn_ctnt']}}</div></td>
      <td><div align="center">{{ row['date']}}</div></td>
      <td><div align="center"><a href="/view_notdlt?id={{ row['notfcn_id']}}">Delete</a></div></td>
    </tr>
      {% endfor %}
  </table>
</form></center>
</body>
</html>
