{% include 'User/header.html' %}
<li><a href="/">Home</a></li>
<li>
                  <a href="/Trending">Trending</a>
                  
                </li>
                                <li class="has-dropdown">
                  <a href="/View_Packages">Package</a>
                  
                </li>
                 {% if session['type']=='user'  %}
                                 <li class="has-dropdown">
                  <a>My Cart</a>
                  <ul class="dropdown">
                    <li><a href="view_enquiries">My Enquiries</a></li>
                    <li><a href="/view_bookings">My Bookings</a></li>
                  </ul>
                                <li class="has-dropdown">
                  <a>Notification</a>
                  <ul class="dropdown">
                    <li><a href="/View_Reply">Replys</a></li>
                    <li><a href="/Notification">Notification</a></li>
                    
                  </ul>
                </li>
                <li><a href="/Update_profile"><img src="../../../static/profilepic/{{ pic['profile_pic'] }}" alt="User Image" class="brand-image img-circle elevation-3"
           style="opacity: .8" width="50" height="50" ></a>&nbsp;
                <li class="btn-cta"><a href="/log_out"><span>log out</span></a></li>
                {% elif session['type']!='user'  %}
                <li class="btn-cta"><a href="/login"><span>log in</span></a></li>
                                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
<aside id="colorlib-hero">
      <div class="flexslider">
        <ul class="slides">
          <li style="background-image: url(../static/user/images/contact.jpg);">
            <div class="overlay"></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                  <div class="slider-text-inner text-center">
                    <h1>Contact Us</h1>
                    <h2><span><a href="/">Home</a></span></h2>
                  </div>
                </div>
              </div>
            </div>
          </li>
          </ul>
        </div>
    </aside>
    <div class="colorlib-trainers">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
						<h2>Developers</h2><hr>
						<!-- <p></p> -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-3 animate-box">
						<div class="trainers-entry">
							<div class="trainer-img" style="background-image: url(../../static/us/joppan2.jpg)"></div>
							<div class="desc">
								<h3>Jobin Sebastian</h3>
								<span>Student</span>
							</div>
							<p>Devamatha Arts & Science College Paisakary</p>
							<p>Reg.No:DM17BCARO8</p></div>
							<div><i class="icon-whatsapp"></i><a href="https://wa.me/919400248915" target="_blank"> +91 9400248915</a><br><i class="icon-instagram"></i><a href="https://www.instagram.com/pi_s_c_e_s_mind/" target="_blank"> Instagram</a><br><i class="icon-mail"></i><a href="https://mail.google.com/mail/?view=cm&fs=1&to=jobinsebastian98@gmail.com" target="_blank"> Email</a></div>
						</div>
					<div class="col-md-4 col-sm-3 animate-box">
						<div class="trainers-entry">
							<div class="trainer-img" style="background-image: url(../../static/us/me3.jpeg)"></div>
							<div class="desc">
								<h3>Sanoop Sahadevan</h3>
								<span>Student</span>
							</div>
							<p>Devamatha Arts & Science College Paisakary</p>
							<p>Reg.No:DM17BCAR10</p></div>
							<div><i class="icon-whatsapp"></i><a href="https://wa.me/916238623780" target="_blank"> +91 6238623780</a><br><i class="icon-instagram"></i><a href="https://www.instagram.com/sps_154/" target="_blank"> Instagram</a><br><i class="icon-mail"></i><a href="https://mail.google.com/mail/?view=cm&fs=1&to=sanoopsahadevan9990@gmail.com" target="_blank"> Email</a></div>
						</div>
						<div class="col-md-4 col-sm-3 animate-box">
						<div class="trainers-entry">
							<div class="trainer-img" style="background-image: url(../../static/us/sk.jpg)"></div>
							<div class="desc">
								<h3>Suryakiran K</h3>
								<span>Student</span>
							</div>
							<p>Devamatha Arts & Science College Paisakary</p>
							<p>Reg.No:DM17BCAR11</p></div>
							<div><i class="icon-whatsapp"></i><a href="https://wa.me/917591920474" target="_blank"> +91 7591920474</a><br><i class="icon-instagram"></i><a href="https://www.instagram.com/surya__kiran_/" target="_blank"> Instagram</a><br><i class="icon-mail"></i><a href="https://mail.google.com/mail/?view=cm&fs=1&to=suryakirank12@gmail.com" target="_blank"> Email</a></div>
						</div>
					</div>
				</div></div></div>
{% include 'User/footer.html' %}