   {% include 'User/header.html' %}
<script>
function valid()

{
    var flag=true;

    if((document.getElementById("pname").value).length!=16)
    {
                    flag=false;
            document.getElementById("crd").style.visibility="visible";
    }
     else
    {
       document.getElementById("crd").style.visibility="hidden";
    }
    if((document.getElementById("exp").value).length!=2)
    {
                    flag=false;
            document.getElementById("dt").style.visibility="visible";
    }
     else
    {
       document.getElementById("dt").style.visibility="hidden";
    }
    if((document.getElementById("yy").value).length!=4)
    {
                    flag=false;
            document.getElementById("y").style.visibility="visible";
    }
     else
    {
       document.getElementById("y").style.visibility="hidden";
    }

    if((document.getElementById("accno").value).length!=3)
    {
                    flag=false;
            document.getElementById("cv").style.visibility="visible";
    }
     else
    {
       document.getElementById("cv").style.visibility="hidden";
    }
     return flag;
}
</script>
<li><a href="/">Home</a></li>
<li>
                  <a href="/Trending">Trending</a>
                  
                </li>
                                <li class="has-dropdown">
                  <a href="/View_Packages">Package</a>
                  
                </li>
                 {% if session['type']=='user'  %}
                                 <li class="has-dropdown">
                  <a>My Cart</a>
                  <ul class="dropdown">
                    <li><a href="view_enquiries">My Enquiries</a></li>
                    <li><a href="/view_bookings">My Bookings</a></li>
                  </ul>
                                <li class="has-dropdown">
                  <a>Notification</a>
                  <ul class="dropdown">
                    <li><a href="/View_Reply">Replys</a></li>
                    <li><a href="/Notification">Notification</a></li>
                    
                  </ul>
                </li>
                <li><a href="/Update_profile"><img src="../../../static/profilepic/{{ pic['profile_pic'] }}" alt="User Image" class="brand-image img-circle elevation-3"
           style="opacity: .8" width="50" height="50" ></a>&nbsp;
                <li class="btn-cta"><a href="/log_out"><span>log out</span></a></li>
                {% elif session['type']!='user'  %}
                <li class="btn-cta"><a href="/login"><span>log in</span></a></li>
                                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
<form id="form1" name="form1" method="post" action="/Pay">
<!-- <div class="colorlib-classes"> -->
      <div class="container" style="background-color: lightblue;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="row row-pb-lg">
              <div class="col-md-12 animate-box">
                <div class="classes class-single">
            <div class="row animate-box">
              <div class="col-md-12">
                <h1 align="center" class="colorlib-heading-2"><br>Pay Now</h1><hr>
                <form action="#">
                  <div class="row form-group">
                    <div class="col-md-6">
                      <!-- <label for="fname">First Name</label> --> 
                      <input readonly="readonly" type="text" id="fname" class="form-control" value="{{ data['username'] }}">
                    </div>
                    <div class="col-md-6">
                      <!-- <label for="lname">Last Name</label> -->
                      <input readonly="readonly" type="text" id="lname" class="form-control" value="+91 {{ data['mobile_number'] }}">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-6">
                      <!-- <label for="email">Email</label> -->
                      <input readonly="readonly" type="text" id="email" class="form-control" value="{{ data['package_name'] }}">
                    </div>
                    <div class="col-md-6">
                      <!-- <label for="email">Email</label> -->
                      <input readonly="readonly" type="text" id="email" class="form-control" value="₹{{   k+a }}">
                    </div>
                  </div>
                     <input type="hidden" name="amt" id="amt" value="{{ k+a }}"/>
          <input type="hidden" name="pkid" id="pkid" value="{{ data['package_id'] }}" />
                  <div class="col-6">
                  <img src="../../static/dist/img/credit/visa.png" alt="Visa">
                  <img src="../../static/dist/img/credit/mastercard.png" alt="Mastercard">
                  <img src="../../static/dist/img/credit/paypal2.png" alt="Paypal"></div><br>
                  <div class="row form-group">
                    <div class="col-md-12">
                      <!-- <label for="subject">Subject</label> -->
                      <input type="Number" name="pname" size="16" id="pname" required="required" class="form-control" placeholder="Enter Card Number" title="Enter valid card number">
                      <div align="left" id="crd" style="visibility: hidden"><font color="red"><i>Enter valid number  </i></font></div>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-md-4">
                      <!-- <label for="subject">Subject</label> -->
                      <input type="Number" name="exp"  id="exp" required="required" class="form-control" placeholder="Month">
                      <div align="left" id="dt" style="visibility: hidden"><font color="red"><i>Enter valid date  </i></font></div>
                    </div>
                    <div class="col-md-4">
                      <!-- <label for="subject">Subject</label> -->
                      <input type="Number" name="yy" id="yy" required="required" class="form-control" placeholder="Year">
                      <div align="left" id="y" style="visibility: hidden"><font color="red"><i>Enter valid month  </i></font></div>
                    </div>
                    <div class="col-md-4">
                      <!-- <label for="subject">Subject</label> -->
                      <input type="Number" name="accno"  id="accno" required="required"  class="form-control" placeholder="CVV">
                      <div align="left" id="cv" style="visibility: hidden"><font color="red"><i>Enter valid CVV  </i></font></div>
                    </div></div>
                   <div class="form-group"  align="center">
                    <input type="submit" name="pay" value="PAY" onclick="return valid()" class="btn btn-primary">
                  </div>
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
</form></center></div></div>
{% include 'User/footer.html' %}
