{% include 'User/header.html' %}
<li><a href="/">Home</a></li>
<li>
                  <a href="/Trending">Trending</a>
                  
                </li>
                                <li class="has-dropdown">
                  <a href="/View_Packages">Package</a>
                  
                </li>
                 {% if session['type']=='user'  %}
                                 <li class="has-dropdown">
                  <a>My Cart</a>
                  <ul class="dropdown">
                    <li><a href="view_enquiries">My Enquiries</a></li>
                    <li><a href="/view_bookings">My Bookings</a></li>
                  </ul>
                                <li class="has-dropdown">
                  <a>Notification</a>
                  <ul class="dropdown">
                    <li><a href="/View_Reply">Replys</a></li>
                    <li><a href="/Notification">Notification</a></li>
                    
                  </ul>
                </li>
                <li><a href="/Update_profile"><img src="../../../static/profilepic/{{ pic['profile_pic'] }}" alt="User Image" class="brand-image img-circle elevation-3"
           style="opacity: .8" width="50" height="50" ></a>&nbsp;
                <li class="btn-cta"><a href="/log_out"><span>log out</span></a></li>
                {% elif session['type']!='user'  %}
                <li class="btn-cta"><a href="/login"><span>log in</span></a></li>
                                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
<script>
function valid()

{
    var flag=true;

    if((document.getElementById("phno").value).length!=10)
    {
                    flag=false;
            document.getElementById("mob").style.visibility="visible";
    }
     else
    {
       document.getElementById("mob").style.visibility="hidden";
    }
     return flag;
}
</script>   
<center>
<form id="form1" name="form1" method="post" action="/Enquiry_now">
        <!-- <div class="colorlib-classes"> -->
            <!-- <div class="colorlib-classes"> -->
      <section style="background-image: url(../static/user/images/enquire1.jpeg);">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="row row-pb-lg">
              <div class="col-md-12 animate-box">
                <div class="classes class-single"><br><br>
            <div class="row animate-box" style="background-color: white;">
              <div class="col-md-12">
                <h1 class="colorlib-heading-2"><br>Enquire Now<hr></h1>
                  <div class="row form-group">
                    <div class="col-md-6">
                      <!-- <label for="fname">First Name</label> -->
                      {% if val %}
                      <input name="name" type="text" class="form-control" readonly="readonly" value="{{ val['username'] }}">{% else %}
                      <input name="name" type="text" required="required" class="form-control" placeholder="Enter Your Name">
                      {% endif %}
                    </div>
                    <div class="col-md-6">
                      <!-- <label for="lname">Last Name</label> -->
                      {% if val %}
                      <input type="text"  class="form-control" name="phno" id="phno" readonly="readonly" value="+91 {{ val['mobile_number']}}">{% else %}
                      <input name="phno" id="phno" type="Number" required="required" class="form-control"
                      pattern="[6-7-8-9]{1}[0-9]{9}" 
       title="Phone number starts with 6-7-8-9 and remaing 9 digit with 0-9" placeholder="Enter Your Number">
                      <div align="left" id="mob" style="visibility: hidden"><font color="red"><i>Enter 10 digit number  </i></font></div>
       {% endif %} 
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-12">
                      <!-- <label for="email">Email</label> -->
                      {% if val %}
                      <input name="mail" id="mail" readonly="readonly" value="{{ val['mail'] }}" type="email"  class="form-control" >{% else %}
                      <input name="mail" id="mail" type="email" pattern="[^ @]*@[^ @]*" title="Enter valid Email" required="required" class="form-control" placeholder="Enter Email">{% endif %}
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-4">
                      <!-- <label for="fname">First Name</label> -->
                      <input type="text" name="Adults" id="Adults" required="required" class="form-control" placeholder="Adults">
                    </div>
                    <div class="col-md-4">
                      <!-- <label for="lname">Last Name</label> -->
                      <input type="text" name="kids" id="kids" required="required" class="form-control" placeholder="Kids">
                    </div>
                  <div class="col-md-4">
                      <!-- <label for="lname">Last Name</label> -->
                      <input type="date" name="date" id="date" min="{{ d }}" title="Select date for the tour" required="required" class="form-control">
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-md-12">
                      <!-- <label for="message">Message</label> -->
                      <textarea name="add" id="add" cols="30" rows="10" required="required" class="form-control" placeholder="Say something about your needs"></textarea>
                    </div>
                  </div><input type="hidden" name="pid" value="{{ pid }}"/>
                  <div class="form-group">
                    <input name="Sendmsg"  id="Sendmsg" type="submit" onclick="return valid()" value="Enquire Now" class="btn btn-primary">
                  </div>
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div></section>  
</form></center>
{% include 'User/footer.html' %}

