<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><center>
<form id="form1" name="form1" method="post" action="">
  <table width="269" border="1">
    <tr>
      <td width="259"><h1 align="center"><u>Home</u></h1></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/Update_profile">Profile</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/Trending">Trendings</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/View_Packages">Packages</a></div></td>
    </tr>
      <tr>
      <td><div align="center"><a href="/view_bookings">My Bookings</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/Send_Complaints">Complaints</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/View_Reply">Replys</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/feedback"> Feedback</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/Notification">Notification</a></div></td>
    </tr>
  </table><br /><a href="/log_out"><input type="button" value="Log out"></a>
</form></center>
</body>
</html>
